:root {
	/* Primitives */
	--color-blue: #0078ff;
	--color-blue-a30: rgba(0 120 255 / 0.3);
	--color-red: #ff7073;
	--color-red-a30: rgba(255 112 115 / 0.3);
	--color-green: #3bb455;
	--color-green-a30: rgba(59 180 85 / 0.3);
	--color-yellow: #b69d00;
	--color-yellow-a30: rgba(205 178 0 / 0.3);
	--color-gray-10: #292929;
	--color-gray-20: #2d2d2d;
	--color-gray-30: #3d3d3d;
	--color-gray-40: #474747;
	--color-gray-50: #595959;
	--color-gray-60: #646464;
	--color-gray-70: #969696;
	--color-gray-80: #d8d8d8;
	--color-white: #ffffff;
	--dimension-0: 0px;
	--dimension-1: 1px;
	--dimension-2: 2px;
	--dimension-4: 4px;
	--dimension-8: 8px;
	--dimension-12: 12px;
	--dimension-16: 16px;
	--dimension-20: 20px;
	--dimension-24: 24px;
	--dimension-32: 32px;
	--dimension-40: 40px;
	--dimension-48: 48px;
	--dimension-56: 56px;
	--dimension-64: 64px;
	--dimension-72: 72px;
	--dimension-80: 80px;
	--dimension-96: 96px;

	/* Alias */
	--color-page: var(--color-gray-20);
	--color-surface: var(--color-gray-30);
	--color-surface-hover: var(--color-gray-40);
	--color-surface-pressed: var(--color-gray-50);
	--color-surface-disabled: var(--color-gray-30);
	--color-surface-strong: var(--color-gray-60);
	--color-surface-inverse: var(--color-gray-80);
	--color-surface-onlight: var(--color-gray-20);
	--color-surface-ondark: var(--color-white);
	--color-surface-elevated: var(--color-gray-30);
	--color-surface-sunken: var(--color-gray-10);
	--color-surface-accent: var(--color-blue);
	--color-surface-negative: var(--color-red);
	--color-border-subtle: var(--color-gray-40);
	--color-border-subtle-disabled: var(--color-gray-30);
	--color-border-strong: var(--color-gray-60);
	--color-border-strong-disabled: var(--color-gray-40);
	--color-border-inverse: var(--color-gray-80);
	--color-border-accent: var(--color-blue-a30);
	--color-border-info: var(--color-blue-a30);
	--color-border-positive: var(--color-green-a30);
	--color-border-negative: var(--color-red-a30);
	--color-border-warning: var(--color-yellow-a30);
	--color-content-primary: var(--color-gray-80);
	--color-content-secondary: var(--color-gray-70);
	--color-content-onlight: var(--color-gray-10);
	--color-content-ondark: var(--color-white);
	--color-content-inverse: var(--color-gray-10);
	--color-content-disabled: var(--color-gray-60);
	--color-content-accent: var(--color-blue);
	--color-content-info: var(--color-blue);
	--color-content-positive: var(--color-green);
	--color-content-negative: var(--color-red);
	--color-content-warning: var(--color-yellow);
	--color-focus: var(--color-blue);

	--space-none: var(--dimension-0);
	--space-4xs: var(--dimension-1);
	--space-3xs: var(--dimension-2);
	--space-2xs: var(--dimension-4);
	--space-xs: var(--dimension-8);
	--space-s: var(--dimension-12);
	--space-m: var(--dimension-16);
	--space-l: var(--dimension-20);
	--space-xl: var(--dimension-24);
	--space-2xl: var(--dimension-32);
	--space-3xl: var(--dimension-40);
	--space-4xl: var(--dimension-48);

	--size-none: var(--dimension-0);
	--size-4xs: var(--dimension-1);
	--size-3xs: var(--dimension-2);
	--size-2xs: var(--dimension-4);
	--size-xs: var(--dimension-8);
	--size-s: var(--dimension-12);
	--size-m: var(--dimension-16);
	--size-l: var(--dimension-20);
	--size-xl: var(--dimension-24);
	--size-2xl: var(--dimension-32);
	--size-3xl: var(--dimension-40);
	--size-4xl: var(--dimension-48);
	--size-5xl: var(--dimension-56);
	--size-6xl: var(--dimension-64);
	--size-7xl: var(--dimension-72);
	--size-8xl: var(--dimension-80);
	--size-9xl: var(--dimension-96);

	--border-width-none: var(--dimension-0);
	--border-width-thin: var(--dimension-1);
	--border-width-thick: var(--dimension-2);
	--border-width-thicker: var(--dimension-4);

	--rounding-none: var(--dimension-0);
	--rounding-s: var(--dimension-2);
	--rounding-m: var(--dimension-4);
	--rounding-l: var(--dimension-8);
	--rounding-full: 9999px;

	--shadow-m: var(--size-none) var(--size-xs) var(--size-m) var(--size-none) rgba(0 0 0 / 0.1),
		var(--size-none) var(--size-3xs) var(--size-xs) var(--size-none) rgba(0 0 0 / 0.2);

	--typography-body-m-family: "System", "Segoe UI", "Arial", "Roboto", "Helvetica sans-serif";
	--typography-body-m-size: var(--size-s);
	--typography-body-m-weight: 400;
	--typography-body-m-line-height: var(--size-m);

	--scrollbar-track-color: #262626;
	--scrollbar-track-width: var(--dimension-4);
	--scrollbar-thumb-color: #666666;
}

body {
	background-color: var(--color-page);
	color: var(--color-content-primary);
	font-size: var(--typography-body-m-size);
	font-family: var(--typography-body-m-family);
	font-weight: var(--typography-body-m-weight);
	line-height: var(--typography-body-m-line-height);
	margin: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-none);
	text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
	width: var(--scrollbar-track-width);
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
	border-radius: calc(var(--scrollbar-track-width) / 2);
}
