:root {
	--highlight-box-shadow: 0 0 0 var(--border-width-thick) var(--color-page);
	--highlight-outline-offset: var(--border-width-thick);
	--highlight-outline--focus: solid var(--border-width-thick) var(--color-surface-accent);
	--highlight-outline--invalid: solid var(--border-width-thick) var(--color-surface-negative);
	--button-border-radius: var(--rounding-m) var(--rounding-m) var(--rounding-m) var(--rounding-m);
}

body {
	background-color: var(--color-page);
	color: var(--color-content-primary);
	font-size: var(--typography-body-m-size);
	font-family: var(--typography-body-m-family);
	font-weight: var(--typography-body-m-weight);
	line-height: var(--typography-body-m-line-height);
	margin: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-none);
	text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
	width: var(--scrollbar-track-width);
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
	border-radius: calc(var(--scrollbar-track-width) / 2);
}
