:root {
	--sd-background-color: #2d2d2d;
	--sd-border-radius: 4px;
	--sd-color-content-primary: #d8d8d8;
	--sd-color-content-secondary: #969696;
	--sd-font-size: 12px;
	--sd-input-background-color: #3d3d3d;
	--sd-line-height: calc(var(--sd-font-size) * 1.333);
	--sd-spacing: 8px;
	--sd-scrollbar-track-color: #262626;
	--sd-scrollbar-thumb-color: #666666;
}

body {
	background-color: var(--sd-background-color);
	color: var(--sd-color-content-primary);
	font-size: var(--sd-font-size);
	font-family:
		System,
		"Segoe UI",
		Arial,
		Roboto,
		Helvetica sans-serif;
	line-height: var(--sd-line-height);
	margin: 8px 8px 8px 0px;
	text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: var(--sd-scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--sd-scrollbar-thumb-color);
	border-radius: 2px;
}
