{
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:jsdoc/recommended",
		"plugin:jsdoc/recommended-typescript",
		"prettier"
	],
	"ignorePatterns": [
		"node_modules/",
		"lib/"
	],
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"jsdoc",
		"prettier",
		"@typescript-eslint"
	],
	"root": true,
	"rules": {
		"indent": [
			"warn",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"jsdoc/require-jsdoc": [
			"warn",
			{
				"contexts": [
					"ClassDeclaration",
					"PropertyDefinition",
					"MethodDefinition",
					"TSEnumDeclaration",
					"TSEnumMember",
					{
						"context": "TSPropertySignature",
						"minLineCount": 2 // Ignore inline.
					},
					"TSTypeAliasDeclaration"
				]
			}
		],
		"@typescript-eslint/explicit-member-accessibility": [
			"error",
			{
				"accessibility": "explicit",
				"overrides": {
					"constructors": "no-public"
				}
			}
		]
	}
}