# Node.js
.turbo
node_modules/

# Tests
coverage/

# Build output
dist/
bin/
.wireit/

# Shared package files
/packages/*/LICENSE
/packages/plugin/README.md

# @elgato/cli
/packages/cli/.cli.cache
/packages/cli/template/com.*.sdPlugin/bin
/packages/cli/template/com.*.sdPlugin/logs