{
	"printWidth": 200,
	"semi": true,
	"trailingComma": "none",
	"useTabs": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^[./]"
	],
	"importOrderParserPlugins": [
		"typescript",
		"[\"decorators\", { \"decoratorsBeforeExport\": true }]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true
}